body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.rating span {
  margin: 0.1rem;
}

h1 {
  font-size: 1.8rem !important;
  padding: 1rem 0 !important;
}

h2 {
  font-size: 1.4rem !important;
  padding: 0.5rem 0 !important;
}

h3 {
  padding: 1rem 0;
}
